---
# collection "Browse" page
layout: page
custom-foot: js/browse-js.html
---

{{ content }}

<div class="row mb-3 justify-content-center">
    <div class="col-md-8 text-center">
        <form class="" role="search" id="lunrSearch" onsubmit="submitFilter(); return false;">
            <div class="input-group input-group-lg">
                <input type="text" class="form-control" id="filterTextBox" placeholder="Filtrar ... " aria-label="Buscar"> 
                <button class="btn btn-success" type="submit" title="Filtrar items" alt="Buscar" id="filterButton" >Buscar</button>
                <button class="btn btn-outline-secondary filter" onclick="resetFilter(); return false;" data-filter="">Reiniciar</button>
            </div>
        </form>
        <div class="h2" id="numberOf"></div>
    </div>
    <div class="col-md-2">
        <div class="dropdown">
            <button class="btn btn-secondary mt-1 dropdown-toggle" type="button" id="browseSortButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Ordenar por: <span class="font-weight-bold" id="sortFilter">Forma aleatoria</span>
            </button>
            <div class="dropdown-menu browse-sort-menu" aria-labelledby="browseSortButton">
                <button class="dropdown-item browse-sort-item active" data-filter="random">Forma aleatoria</button>
                <button class="dropdown-item browse-sort-item" data-filter="title">Título</button>
                {% assign sort_options = site.data.config-browse | where_exp: 'i','i.sort_name != nil' %}
                {% for o in sort_options %}
                <button class="dropdown-item browse-sort-item" data-filter="{{ o.field | escape }}">{{ o.sort_name }}</button>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<div id="loadingIcon" class="text-center">
    <div class="spinner-border text-dark" role="status"><span class="visually-hidden">Cargando...</span></div>
</div>

<div class="row" id="browseItems"></div>
